#header{
    display: block;
}
#topHead{
    display:block;
}
#logo{
    width: 90px;
    height: auto;
}
#searchbar{
    padding:0px 0px 0px 0px;
    text-align: center;
    align-content: center;
    display:flex;
    border-radius:24px;
    border:1px;
    border-style: solid;
    border-color:rgb(204, 201, 196);
    width:480px;
    height:44px;
    margin:auto;
    box-shadow:none;
    background:#fff;
    margin-left:auto;
    margin-right:auto;
}
#searchIconBox{
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
    width: 24px;
    height: 24px;
}
#searchFor{
    display: -webkit-inline-box;
}
#lens{
    padding: 20 20;
    width:20px;
    height:20px;
    fill:rgb(179, 179, 179);
    line-height:20px;
}
#searchTextBox{
    width: 388px;
    line-height: 24px;
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
}
#searchText {
    display: inline-block;
    border: none;
    color: rgba(0,0,0,.87);
    outline: none;
    font: 16px arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    width: 388px;
}
#mic{
    margin-top: 10px;
    padding-right: 0px;
}
#micro{
    padding: 20 20;
    width:24px;
    height:24px;  
}
#userOptions{
    display: -webkit-inline-box;
    float: right;
    top: 5px;
}
#apps{
    padding:2px;
}
#sign_in{
    padding: 2px;
}
#searchFor{
    display: -webkit-inline-box;
}
a:link{
    text-decoration: none;
    color : black;
}
#all{
    padding: 2px;
    color: black;
    display: -webkit-inline-box;
}
#maps{
    padding: 2px;
    color: black;
    display: -webkit-inline-box;
}
#news{
    padding: 2px;
    color: black;
    display: -webkit-inline-box;
}
#videos{
    padding: 2px;
    color: black;
    display: -webkit-inline-box;
}
#shopping{
    padding: 2px;
    color: black;
    display: -webkit-inline-box;
}#more{
    padding: 2px;
    color: black;
    display: -webkit-inline-box;
}
#settingsTools{
    display: -webkit-inline-box;
    float:right;
}
#settings{
    padding:2px;
}
#tools{
    padding:2px;
}
#timeframe{
    color: #000000;
    font-size: 15px;
    display: block;
    margin-block-end: 1em;
    margin-block-start: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.table{
    border: 2px;
    border-color: #000000;
    padding: 10px;
    width: 100%; 
    text-align:left;
}
.bold{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}
.row{
    position:relative;
    box-sizing: border-box;
    border-color: rgb(59,61,66);
    font-family: Arial, Helvetica, sans-serif;
    width:100%;
    border-bottom: 1px solid;
    margin: auto 0 auto -20px;
    padding: 10px 20px 10px 20px;
}
#foot{
    display: -webkit-inline-box;
}
#footEle{  
    padding: 5px;
    border: 2px;
}
#suggestedLeft{
    float: left;
}
#suggestedRight{
    float: right;
}
#ooo{
    padding: 85px;
}