li {
	display: inline;
	font-size: 13px;
	color:#5F6368;
	font-family: arial,sans-serif;
}

a:link {
	text-decoration: none;
	color: #000000;
}

a:visited {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

#head {
    display: block;
    height:115px;
    border-bottom: solid 1px #ebebeb;
}

#logo {
	width: 7.2%;
	display: block;
	position: relative;
	top: 20px;
	left: 15px;
}

#searchbar {
	display: flex;
	border-radius: 24px;
	border: 1px solid #ebebeb;
	width: 500px;
	height: 45px;
	position: relative;
	bottom:20px;
	left: 151px;
}

#lens {
	flex:1;
	width: 20px;
	height: 20px;
	fill: #002df7;
	margin-top: 11px;
	margin-left: 7px;
}

#form {
	flex:3;
}

#searchText {
	border: none;
	outline: none;
	font: 16px arial, sans-serif;
	width: 400px;
	margin-top:11px;
}

#micro {
	flex:1;
	width: 23px;
	height: 23px;
	margin-top: 11px;
}

#apps {
	padding: 0;
	position: relative;
	top: -71px;
	left: 1086px;
}

#sign_in {
	border-radius: 100%;
	margin-top: 5px;
	position: relative;
	top: -64px;
	left: 1101px;
}
#searchFor{
    margin-top:39px;
}
#all {
	position: relative;
	top: -72px;
	left: 95px;
	padding-left: 5px;
	padding-right: 5px;
}

#allSVG {
	width: 15px;
	height: 15px;
	line-height: 20px;
	margin-right: 5px;
}

#maps {
	position: relative;
	top: -72px;
	left: 95px;
	padding-left: 5px;
	padding-right: 5px;
}

#mapsSVG {
	width: 15px;
	height: 15px;
	line-height: 20px;
	margin-right: 5px;
}

#news {
	position: relative;
	top: -72px;
	left: 95px;
	padding-left: 5px;
	padding-right: 5px;
}

#newsSVG {
	width: 15px;
	height: 15px;
	line-height: 20px;
	margin-right: 5px;
}

#videos {
	position: relative;
	top: -72px;
	left: 95px;
	padding-left: 5px;
	padding-right: 5px;
}

#videosSVG {
	width: 15px;
	height: 15px;
	line-height: 20px;
	margin-right: 5px;
}

#immages {
	position: relative;
	top: -72px;
	left: 95px;
	padding-left: 5px;
	padding-right: 5px;
}

#immagesSVG {
	width: 15px;
	height: 15px;
	line-height: 20px;
	margin-right: 5px;
}

#more {
	position: relative;
	top: -72px;
	left: 95px;
	padding-left: 5px;
	padding-right: 5px;
}

#moreSVG {
	width: 15px;
	height: 15px;
	line-height: 20px;
	margin-right: 5px;
}

#settings {
	position: relative;
	top: -79px;
	left: 565px;
	padding-left: 5px;
	padding-right: 5px;
}

#tools {
	position: relative;
	top: -79px;
	left: 565px;
	padding-left: 5px;
	padding-right: 5px;
}

#searchInfo {
	margin-left:140px;
	color: rgba(117, 112, 112, 0.71);
	font-size: 15px;
	padding: 1151.280 * 150.298;
}

#paidAds {
	margin-top:30px;
    margin-left:140px;
	padding: 1151.280 * 150.298;
}

#h2ad1 {
	position: relative;
	top: -15px;
	font-size: 15px;
	font-weight: 200;
}

#spanad1 {
	font-size: 15px;
	font-weight: 700;
	margin-right: 5px;
}

#h1ad1 {
	position: relative;
	top: -44px;
	font-size: 20px;
	font-weight: 200;
	color: blue;
}

#pad1 {
	position: relative;
	top: -65px;
	color: rgba(117, 112, 112, 0.71);
}

#h2ad2 {
	position: relative;
	top: -60px;
	font-size: 15px;
	font-weight: 200;
}

#spanad2 {
	font-size: 15px;
	font-weight: 700;
	margin-right: 5px;
}

#h1ad2 {
	position: relative;
	top: -88px;
	font-size: 20px;
	font-weight: 200;
	color: blue;
}

#pad2 {
	position: relative;
	top: -105px;
	color: rgba(117, 112, 112, 0.71);
}

#first2Results {
	margin-top:-85px;
    margin-left:140px;
}

#h2result1 {
	position: relative;
	top: -15px;
	font-size: 15px;
	font-weight: 200;
}

#h1result1 {
	position: relative;
	top: -44px;
	font-size: 20px;
	font-weight: 200;
	color: blue;
}

#presult1 {
	position: relative;
	top: -65px;
	color: rgba(117, 112, 112, 0.71);
}

#h2result2 {
	position: relative;
	top: -60px;
	font-size: 15px;
	font-weight: 200;
}

#h1result2 {
	position: relative;
	top: -88px;
	font-size: 20px;
	font-weight: 200;
	color: blue;
}

#presult2 {
	position: relative;
	top: -105px;
	color: rgba(117, 112, 112, 0.71);
}

#videoContainer {
    margin-top:-106px;
    height:350px;
    margin-left:140px;
    
}

#video1 {
	display: flex;
    flex-direction: column;
    /* margin-left: 140px; */
}

#av1 {
	position: relative;
	top: 19px;
	width: 200px;
	color: blue;
	font-size: 18px;
	;
}

#p1v1 {
	position: relative;
	top: 40px;
	font-size: 13px;
	color: rgba(117, 112, 112, 0.71);
}

#p2v1 {
	position: relative;
	top: 14px;
	font-size: 13px;
	color: rgba(117, 112, 112, 0.71);
}

#video2 {
	display: flex;
    flex-direction: column;
    margin-left:218px;
    position: relative;
	top: -239px;
}

#av2 {
	position: relative;
	top: 6px;
	color: blue;
	width: 200px;
}

#p1v2 {
	position: relative;
	top: 40px;
	font-size: 13px;
	color: rgba(117, 112, 112, 0.71);
}

#p2v2 {
	font-size: 13px;
	color: rgba(117, 112, 112, 0.71);
	position: relative;
	top: 14px;
}

#video3 {
	display: flex;
    flex-direction: column;
    position: relative;
	top: -475px;
    margin-left:437px;
}

#av3 {
	position: relative;
	top: 19px;
	color: blue;
	width: 200px;
}

#p1v3 {
	position: relative;
	top: 40px;
	font-size: 13px;
	color: rgba(117, 112, 112, 0.71);
}

#p2v3 {
	font-size: 13px;
	color: rgba(117, 112, 112, 0.71);
	position: relative;
	top: 14px;
}

#result345 {
    margin-left:140px;   
}

#h2result3 {
	position: relative;
	top: -60px;
	font-size: 15px;
	font-weight: 200;
}

#h1result3 {
	position: relative;
	top: -88px;
	font-size: 20px;
	font-weight: 200;
	color: blue;
}

#presult3 {
	position: relative;
	top: -105px;
	color: rgba(117, 112, 112, 0.71);
}

#h2result4 {
	position: relative;
	top: -105px;
	font-size: 15px;
	font-weight: 200;
}

#h1result4 {
	position: relative;
	top: -132px;
	font-size: 20px;
	font-weight: 200;
	color: blue;
}

#presult4 {
	position: relative;
	top: -150px;
	color: rgba(117, 112, 112, 0.71);
}

#h2result5 {
	position: relative;
	top: -152px;
	font-size: 15px;
	font-weight: 200;
}

#h1result5 {
	position: relative;
	top: -177px;
	font-size: 20px;
	font-weight: 200;
	color: blue;
}

#presult5 {
	position: relative;
	top: -195px;
	color: rgba(117, 112, 112, 0.71);
}

#suggestionTable {
	margin-top:-178px;
    margin-left:140px;
}

#continerSug {
	border-style: solid;
	border-color: rgba(117, 112, 112, 0.71);
	border-width: thin;
	width: 635px;
	border-radius: 20px;

}

#sugtop {
	border-style: solid;
	border-color: rgba(117, 112, 112, 0.71);
	border-width: thin;
	width: 635px;
	height: 60px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	font-family: sans-serif;
}

#paa {
	margin-left: 10px;
	font-weight: 300;
}

.sug {
	border-style: solid;
	border-color: rgba(117, 112, 112, 0.71);
	border-width: thin;
	width: 635px;
	height: 35px;
	margin-right: 0px;
}

.suglink {
	margin: 10px;
	font-size: 17px;
}

#sugbottom {
	border-style: solid;
	border-color: rgba(117, 112, 112, 0.71);
	border-width: thin;
	width: 635px;
	height: 35px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

#expandSVG1 {
	width: 20px;
	height: 20px;
	position: relative;
	top: 6px;
	left: 367px;
}

#expandSVG2 {
	width: 20px;
	height: 20px;
	position: relative;
	top: 6px;
	left: 302px;
}

#expandSVG3 {
	width: 20px;
	height: 20px;
	position: relative;
	top: 6px;
	left: 302px;
}

#expandSVG4 {
	width: 20px;
	height: 20px;
	position: relative;
	top: 6px;
	left: 288px;
}

#result6789 {
	margin-top:40px;
    margin-left:140px;
}

#h2result6 {
	position: relative;
	top: -15px;
	font-size: 15px;
	font-weight: 200;
}

#h1result6 {
	position: relative;
	top: -44px;
	font-size: 20px;
	font-weight: 200;
	color: blue;
}

#presult6 {
	position: relative;
	top: -65px;
	color: rgba(117, 112, 112, 0.71);
}

#r7 {
	position: relative;
	top: -55px;
}

#h2result7 {
	position: relative;
	top: -15px;
	font-size: 15px;
	font-weight: 200;
}

#h1result7 {
	position: relative;
	top: -44px;
	font-size: 20px;
	font-weight: 200;
	color: blue;
}

#presult7 {
	position: relative;
	top: -65px;
	color: rgba(117, 112, 112, 0.71);
}

#r8 {
	position: relative;
	top: -104px;
}

#h2result8 {
	position: relative;
	top: -15px;
	font-size: 15px;
	font-weight: 200;
}

#h1result8 {
	position: relative;
	top: -44px;
	font-size: 20px;
	font-weight: 200;
	color: blue;
}

#presult8 {
	position: relative;
	top: -65px;
	color: rgba(117, 112, 112, 0.71);
}

#r9 {
	position: relative;
	top: -153px;
}

#h2result9 {
	position: relative;
	top: -15px;
	font-size: 15px;
	font-weight: 200;
}

#h1result9 {
	position: relative;
	top: -44px;
	font-size: 20px;
	font-weight: 200;
	color: blue;
}

#presult9 {
	position: relative;
	top: -65px;
	color: rgba(117, 112, 112, 0.71);
}

#relatedSearch {
    margin-top : -210px;;
}

#relHeader {
	font-weight: 300;
    font-family: serif;
    margin-left:140px;
}

#relCol1{
    margin-left: 140px;
}
#arel1 {
	color: #4141b5;
	font-size: 14px;
	font-family: serif;
	font-weight: 700;
}

#arel2 {
	color: #4141b5;
	font-size: 14px;
	font-family: serif;
	font-weight: 700;
}

#arel3 {
	color: #4141b5;
	font-size: 14px;
	font-family: serif;
	font-weight: 700;
}

#arel4 {
	color: #4141b5;
	font-size: 14px;
	font-family: serif;
	font-weight: 700;
}

#arel5 {
	color: #4141b5;
	font-size: 14px;
	font-family: serif;
	font-weight: 700;
}

#arel6 {
	color: #4141b5;
	font-size: 14px;
	font-family: serif;
	font-weight: 700;
}

#arel7 {
	color: #4141b5;
	font-size: 14px;
	font-family: serif;
	font-weight: 700;
}

#arel8 {
	color: #4141b5;
	font-size: 14px;
	font-family: serif;
	font-weight: 700;
}

#relCol2 {
	margin-top:-141px;
    margin-left:382px;
}

#nextPages {
    margin-left:263px;   
	border-collapse: collapse;
	text-align: left;
}

.gooooogle {
	display: grid;
}

#bigG {
	color: blue;
	font-size: 30px;
	font-family: sans-serif;
	position: relative;
}

#redO {
	color: red;
	font-size: 25px;
	font-family: sans-serif;
	position: relative;
	top: 11px;
}

.spanNumbers {
	position: relative;
	top: 7px;
	left: 3px;
}

.yellowO {
	color: yellow;
	font-size: 25px;
	font-family: sans-serif;
	position: relative;
	top: 11px;
}

#blueG {
	color: blue;
	font-size: 25px;
	font-family: sans-serif;
	position: relative;
	top: 2px;
	left: 10px;
}

#greenL {
	color: green;
	font-size: 25px;
	font-family: sans-serif;
	position: relative;
	top: 2px;
	left: 10px;
}

#redE {
	color: red;
	font-size: 25px;
	font-family: sans-serif;
	position: relative;
	top: 2px;
	left: 10px;
}

#gle {
	position: relative;
	top: 10px;
	left: -11px;
}

#next {
	position: relative;
	top: 8px;
	left: 6px;
}

#foot {
	background-color: #F2F2F3;
	border-top: 1px #e4e4e4 solid;
    padding: 10px 10px;
    margin-top:50px;
}
#lastElement{
    margin-left:140px;
}
#country {
	font-family: sans-serif;
	font-size: 14px;
	color: rgba(117, 112, 112, 0.71)
}
.location {
	margin-left:15px;
}

#bottomList {
	margin-left:100px
}

/* Tablet Landscape*/margin-left:140px;
@media screen and (max-width: 1060px) {
	#primary {
		width: 67%;
	}

	#secondary {
		width: 30%;
		margin-left: 3%;
	}
}

/* Tabled Portrait */margin-left:140px;
@media screen and (max-width: 768px) {
	#primary {
		width: 100%;
	}

	#secondary {
		width: 100%;
		margin: 0;
		border: none;
	}
}

img {
	max-width: 100%;
}

@media (min-width: 640px) {
	body {
		font-size: 1rem;
	}
}

@media (min-width:960px) {
	body {
		font-size: 1.2rem;
	}
}

@media (min-width:1100px) {
	body {
		font-size: 1.5rem;
	}
} 
@media (max-width:1300px){
	body{
		font-size:1rem;
	}
}